<!DOCTYPE>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>file upload</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link th:href="@{/css/upload.css}" rel="stylesheet">
</head>
<body>
<th:block layout:fragment="content">
    <div class="fileUploadContainer">
        <h2 class="uploadTitle">파일업로드</h2>
        <div>
            <form action="/upload" method="post" enctype="multipart/form-data" class="total-fileupload">
                <br>
                <input type="hidden" th:name="proNo" th:value="${proNo}">
                <input type="file" name="files" class="uploadFile">
                <button type="submit" class="uploadButton">업로드</button>
            </form>
        </div>
    </div>
</th:block>
</body>
</html>