<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>
<div class="container">

    <button class="btn-success" th:onclick="|window.location.href='/admin/new'|">상품 업로드</button>
    <button class="btn-success" th:onclick="|window.location.href='/'|">홈으로</button>

    <div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>제목</th>
                <th>관리자</th>
                <th>내용</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="product : ${products}">
                <td th:text="${product.proNo}"></td>
                <td th:text="${product.proTitle}"></td>
                <td th:text="${product.proWriter}"></td>
                <td th:text="${product.proContent}"></td>
            </tr>
            </tbody>
        </table>
    </div>

   <!-- <div th:replace="fragments/footer :: footer" />-->
</div> <!-- /container -->
</body>
</html>