<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>itemList</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link th:href="@{/css/itemList.css}" rel="stylesheet">
</head>
<body>
<th:block layout:fragment="content">
    <div class="container">

        <button class="btn-btn-upload" th:onclick="|window.location.href='/admin/new'|">상품 업로드</button>
        <button class="btn btn-home" th:onclick="|window.location.href='/admin/userList'|">회원 관리</button>
        <button class="btn-home" th:onclick="|window.location.href='/'|">홈으로</button>

        <div class="table-list">
            <table class="table_box">
                <thead>
                <tr>
                    <th class="th-list">#</th>
                    <th class="th-list">제목</th>
                    <th class="th-list">관리자</th>
                    <th class="th-list">내용</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="product : ${products}">
                    <td th:text="${product.proNo}"></td>
                    <td><a th:href="@{modify/{proNo}(proNo = ${product.proNo})}"
                           th:text="${product.proTitle}"></a></td>
                    <td th:text="${product.proWriter}"></td>
                    <td th:text="${product.proContent}"></td>
                </tr>
                </tbody>
            </table>
        </div>

        <!--<ul class="pagination"
            th:with="start=${T(Math).floor(articleList.number/10) * 10 + 1},
              last=${start + 9 < articleList.totalPages ? start + 9 : articleList.totalPages}">

            <li>
                <a th:href="@{./list(page=1)}" aria-label="First">
                    <span aria-hidden="true">← 처음</span>
                </a>
            </li>

            <li th:class="${articleList.first} ? 'disabled'">
                <a th:href="${articleList.first} ? '#' : @{./list(page=${articleList.number})}"
                   aria-label="Previous">
                    <span aria-hidden="true">&lt;</span>
                </a>
            </li>

            <li th:each="page: ${#numbers.sequence(start, last)}"
                th:class="${page == articleList.number + 1} ? 'active'">
                <a th:text="${page}" th:href="@{./list(page=${page})}">&nbsp;</a>
            </li>

            <li th:class="${articleList.last} ? 'disabled'">
                <a th:href="${articleList.last} ? '#' : @{./list(page=${articleList.number + 2})}"
                   aria-label="Next">
                    <span aria-hidden="true">&gt;</span>
                </a>
            </li>

            <li>
                <a th:href="@{./list(page=${articleList.totalPages})}" aria-label="Last">
                    <span aria-hidden="true">마지막 →</span>
                </a>
            </li>
        </ul>-->

        <!-- <div th:replace="fragments/footer :: footer" />-->
    </div> <!-- /container -->
</th:block>
</body>
</html>