<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{layout/layout}">
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<head>
    <title>관리자 페이지</title>
    <!--css-->
    <link th:href="@{/css/itemList.css}" rel="stylesheet">
    <link th:href="@{/css/itemList2.css}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/button-hover.css}"/>
    <!--js -->
</head>


<th:block layout:fragment="content">
    <body>
    <div class="adminTitle">[ 관리자 페이지 ]</div>
    <div class="container">
        <div class="listButtons">
            <button class="button-hover-upload" th:onclick="|window.location.href='/admin/new'|">상품 업로드</button>
            <button class="button-hover-user" th:onclick="|window.location.href='/admin/userList'|">회원 관리</button>
            <button class="button-hover-home" th:onclick="|window.location.href='/'|">홈으로</button>
        </div>
        <div class="table-list">
            <table class="table_box">
                <thead>
                <tr>
                    <th class="th-list">#</th>
                    <th class="th-list">제목</th>
                    <th class="th-list">관리자</th>
                    <th class="th-list">내용</th>
                    <th class="th-list">등록일</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="product : ${products}">
                    <td th:text="${product.proNo}"></td>
                    <td><a th:href="@{modify/{proNo}(proNo = ${product.proNo})}"
                           th:text="${product.proTitle}"></a></td>
                    <td th:text="${product.proWriter}"></td>
                    <td th:text="${product.proContent}"></td>
                    <td th:text="${product.registerDate}"></td>
                </tr>
                </tbody>
            </table>
        </div>
        <nav style="text-align: center">
            <ul class="pagination"
                th:with="start=${T(Math).floor(products.number/10) * 10 + 1},
              last=${start + 9 < products.totalPages ? start + 9 : products.totalPages}">

                <li>
                    <a th:href="@{./list(page=1)}" aria-label="First">
                        <span aria-hidden="true">← 처음</span>
                    </a>
                </li>

                <li th:class="${products.first} ? 'disabled'">
                    <a th:href="${products.first} ? '#' : @{./list(page=${products.number})}"
                       aria-label="Previous">
                        <span aria-hidden="true">&lt;</span>
                    </a>
                </li>

                <li th:each="page: ${#numbers.sequence(start, last)}"
                    th:class="${page == products.number + 1} ? 'active'">
                    <a th:text="${page}" th:href="@{./list(page=${page})}">&nbsp;</a>
                </li>

                <li th:class="${products.last} ? 'disabled'">
                    <a th:href="${products.last} ? '#' : @{./list(page=${products.number + 2})}"
                       aria-label="Next">
                        <span aria-hidden="true">&gt;</span>
                    </a>
                </li>

                <li>
                    <a th:href="@{./list(page=${products.totalPages})}" aria-label="Last">
                        <span aria-hidden="true">마지막 →</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div> <!-- /container -->
    </body>
</th:block>
</html>