<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{layout/layout}">
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<head>
    <title>관리자 업로드</title>
    <!--css-->
    <link th:href="@{/css/upload2.css}" rel="stylesheet">
</head>

<th:block layout:fragment="content">
        <div class="container">
            <div class="row">
                <div class="col-md-8 mx-auto">
                    <div class="adminTitle">[ 관리자 업로드 ]</div>
                    <p th:text="${message}" th:if="${message ne null}" class="alert alert-primary"></p>
                    <form method="post" th:action="@{/admin/register}" th:object="${productForm}">

                        <div>
                            <label th:for="proTitle"><div class="title">제목</div></label>
                            <input type="text" th:field="*{proTitle}" class="form-word"
                                   placeholder="여행 제목을 입력하세요">
                        </div>

                        <div class="form-group">
                            <label th:for="price"><div class="price">가격</div></label>
                            <input type="text" th:field="*{price}" class="form-word"
                                   placeholder="숫자만 입력하세요">
                        </div>

                        <div class="form-group">
                            <label th:for="proContent"><div class="content">상세 내용</div></label>
                            <textarea th:field="*{proContent}" class="form-word-content"/>
                        </div>

                        <div class="form-group-options">
                            <label th:for="region"><div class="region">여행지</div></label>
                            <select th:field="*{region}" class="select_region">
                                <option th:value="Korea" class="form-control">국내</option>
                                <option th:value="Japan" class="form-control">일본</option>
                                <option th:value="China" class="form-control">중국</option>
                                <option th:value="Southeast_Asia" class="form-control">동남아시아</option>
                                <option th:value="Europe" class="form-control">유럽</option>
                            </select>
                            <label th:for="season"><div class="season">계절</div></label>
                            <select th:field="*{season}" class="select_season">
                                <option th:value="Spring" class="form-control">봄</option>
                                <option th:value="Summer" class="form-control">여름</option>
                                <option th:value="Autumn" class="form-control">가을</option>
                                <option th:value="Winter" class="form-control">겨울</option>
                            </select>
                            <label th:for="theme"><div class="theme">테마</div></label>
                            <select th:field="*{theme}" class="select_theme">
                                <option th:value="Family" class="form-control">가족</option>
                                <option th:value="Friend" class="form-control">친구</option>
                                <option th:value="Couple" class="form-control">커플</option>
                                <option th:value="Filial" class="form-control">효도</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label th:for="N"><div class="N">위도 (Nº)</div></label>
                            <input type="text" th:field="*{N}" class="GPS_N"/>
                            <label th:for="E"><div class="E">경도 (Eº)</div></label>
                            <input type="text" th:field="*{E}" class="GPS_E"/>
                        </div>
                        <button type="submit" class="button-hover-upload">업로드</button>
                    </form>
                </div>
            </div>
        </div>
</th:block>
</html>