<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</head>
<body>
<div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>주문번호</th>
            <th>여행 시작일</th>
            <th>여행 마지막일</th>
            <th>주문일자</th>
            <th>금액</th>
            <th>수량</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="order : ${orders}">
            <td th:text="${order.orderId}"></td>
            <td th:text="${order.dateIn}"></td>
            <td th:text="${order.dateOut}"></td>
            <td th:text="${order.orderDate}"></td>
            <td th:text="${order.orderPrice}"></td>
            <td th:text="${order.orderQty}"></td>
            <td><input type="hidden" name="orderId" th:value="${order.orderId}"></td>
            <td><button class="button" id="cancelPay">예약 취소하기</button></td>
        </tr>
        </tbody>
    </table>
    <button class="button" th:onclick="|window.location.href='/'|">홈으로 가기 😎</button>
    <div>
        <h4>여행을 변경하실 경우, 환불을 진행하시고 다시 예약해주세요.</h4>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
<script>
    $(document).ready(function(){
        $("#cancelPay").click(function(){
            var orderId = $("input[name='orderId']").val();
            swal({
                title: "예약 변경 / 취소",
                text: "예약을 변경하거나 취소하시겠습니까?",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
            .then((willCancel) => {
                if(willCancel){
                    swal("변경 및 취소가 완료되었습니다.",{
                        icon: "success",
                    });
                    location.href="/order/cancel/"+orderId;
                } else{
                    swal("취소되지 않았습니다.");
                }
            });
        });
    });
</script>
</body>
</html>