<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>예약 확인 페이지</title>
    <link th:rel="stylesheet" th:href="@{webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
</head>
<body>

<div class="container">
    <h2>정한나 님, 예약해 주셔서 감사합니다!</h2>
    <h3 class="mt-5">주문 번호: <strong th:name="orderId" th:text="${order.orderId}" ></strong></h3>
    <h3 class="mt-5">결제 금액: <strong th:name="orderPrice" th:text="${order.orderPrice}" ></strong></h3>
    <h3 class="mt-5">인원 수: <strong th:name="orderQty" th:text="${order.orderQty}" ></strong></h3>
    <h3 class="mt-5">총 금액: <strong th:name="totalPrice" th:text="${order.orderPrice * order.orderQty}" ></strong></h3>

    <hr />

    <h3 class="mt-5">여행 시작일: <strong th:name="dateIn" th:text="${#dates.format(order.dateIn, 'yyyy-MM-dd')}" ></strong></h3>
    <h3 class="mt-5">여행 마지막일: <strong th:name="dateOut" th:text="${#dates.format(order.dateOut, 'yyyy-MM-dd')}" ></strong></h3>
    <a th:href="@{/order/modify}" class="btn btn-primary">수정하기</a>

</div>

</body>
</html>