<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:type="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/button.css}"/>
    <link rel="stylesheet" th:href="@{/css/3dButton.css}"/>
    <link th:href="@{/css/itemList8.css}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/file-upload8.css}"/>
    <meta charset="UTF-8">
    <title>✈️회원 예약 확인</title>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</head>
<body>
<div class="upload-container">
    <div class="upload-header">
        <h1 style="margin-left: 100px;">👨‍✈️ 회원 예약 현황 👩‍✈️️</h1>
        <div style="text-align:right;">
            <a th:href="@{/}" class="button" style="font-size: 0.8rem; text-decoration:none; margin:50px;">홈으로 가기</a>
        </div><br>
    </div>
    <div class="upload-content">
        <div style="text-align:center; margin: 30px;">
            <h2>🛫 현재 여행예정 </h2>
        </div>

        <div class="table-list">
            <table class="table_box">
                <thead>
                <tr>
                    <th>주문번호</th>
                    <th>여행 시작일</th>
                    <th>여행 마지막일</th>
                    <th>주문일자</th>
                    <th>금액</th>
                    <th>수량</th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="paid : ${orders}">
                    <td th:text="${paid.orderId}"></td>
                    <td th:text="${paid.dateIn}"></td>
                    <td th:text="${paid.dateOut}"></td>
                    <td th:text="${paid.orderDate}"></td>
                    <td th:text="${paid.orderPrice}"></td>
                    <td th:text="${paid.orderQty}"></td>
                    <td><button class="btn btn-secondary" id="checkCustom" style="width:160px;">회원정보 확인하기</button></td>
                    <td><input type="hidden" name="customerId" th:value="${paid.member.id}"></td>
                    <!--<td><button class="button"
                                th:onclick="|window.location.href='@{/order/customerDetail/{id}(id=${paid.member.id})}'|">회원정보 확인하기</button></td>-->
                </tr>
                </tbody>
            </table>
        </div>
        <hr>


        <div style="text-align:center; margin: 30px;">
            <h2>🛬지난 여행 내역 </h2>
        </div>
        <div class="table-list">
            <table class="table_box">
                <thead>
                <tr>
                    <th>주문번호</th>
                    <th>여행 시작일</th>
                    <th>여행 마지막일</th>
                    <th>주문일자</th>
                    <th>금액</th>
                    <th>수량</th>
                    <th></th>

                </tr>
                </thead>
                <tbody>
                <tr th:each="comp : ${ordered}">
                    <td th:text="${comp.orderId}"></td>
                    <td th:text="${comp.dateIn}"></td>
                    <td th:text="${comp.dateOut}"></td>
                    <td th:text="${comp.orderDate}"></td>
                    <td th:text="${comp.orderPrice}"></td>
                    <td th:text="${comp.orderQty}"></td>
                    <td>[여행 종료]</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
                crossorigin="anonymous"></script>
        <script>
    $(document).ready(function(){
        $("#checkCustom").click(function(){
            var customerId = $("input[name='customerId']").val();
            location.href="/order/customerDetail/"+customerId;
        });
    });
</script>
</body>
</html>