<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet"th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css}" >
<link rel="stylesheet" th:href="@{/css/bootstrap-datepicker.css}">
<script th:src="@{https://code.jquery.com/jquery-3.2.1.js}" type="text/javascript"></script>
<script th:src="@{/js/bootstrap-datepicker.js}" type="text/javascript"></script>
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>-->
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

<script>
$(document).ready(function () {
    $('#dateIn').datepicker({
        format: "yyyy-mm-dd",
        clearBtn : true,
        autoclose: true,
        multidate : true,
        multidateSeparator :",",
        todayHighlight: true
    });
    $('#dateOut').datepicker({
        format: "yyyy-mm-dd",
        clearBtn : true,
        autoclose: true,
        multidate : true,
        multidateSeparator :",",
        todayHighlight: true
    });
});
</script>

<head>
    <meta charset="UTF-8">
    <title>예약 사이트</title>
</head>
<body>

<!-- Navigation -->

<div class="container">
    <form method="post" th:object="${order}">

        <div class="form-group row">

            <div class="col-md-4 mt-5">
                <label for="OrderPrice">패키지 가격</label>
                <div class="input-group date">
                    <input type="text" class="form-control" id="OrderPrice" th:field="*{OrderPrice}" />
                </div>
            </div>

            <div class="col-md-4 mt-5">
                <label for="OrderQty">인원수</label>
                <div class="input-group date">
                    <input type="number" class="form-control" id="OrderQty" th:field="*{OrderQty}" />
                </div>
            </div>
        </div>

        <hr />

        <div class="form-group row">
            <div class="col-md-4 mt-5">
                <div class="input-group date">
                    <input type="text" class="form-control" id="dateIn" th:field="*{dateIn}"
                           placeholder="여행 시작일 ✿˘◡˘✿"/>
                    <div class="input-group-append">
                        <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mt-5">
                <div class="input-group date">
                    <input type="text" class="form-control" id="dateOut" th:field="*{dateOut}"
                           placeholder="여행 마지막일 ( ᵕ ᵕ̩̩ )"/>
                    <div class="input-group-append">
                        <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                    </div>
                </div>
            </div>
        </div>
        <button class="btn btn-primary" type="submit" onclick="/order/modify">수정하기</button>
    </form>
    <a th:href="@{/order/cancel}" class="btn btn-danger">취소하기</a>
</div>

</body>
</html>