<!DOCTYPE html>
<html lagn="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<link th:href="@{/css/listStyle.css}" rel="stylesheet" />

<!--bootstrap -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<header th:replace="fragments/header :: headerFragment"></header>

<link rel="stylesheet" th:href="@{/css/header.css}">
<!-- icon link -->
<link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css" />
<!--custom css file link-->
<link th:href="@{/css/listStyle.css}" rel="stylesheet">
<link th:href="@{/css/upload.css}" rel="stylesheet">
<body id="page-top">
<div id="wrapper">

  <div id="content-wrapper" class="d-flex flex-column">
    <div id="content">
      <!-- 본문-->
      <th:block layout:fragment="content"></th:block>
    </div>
    <!-- 공통 하단-->
    <footer th:replace="fragments/footer :: footerFragment"></footer>
    <link rel="stylesheet" th:href="@{/css/footer.css}" >
  </div>
</div>
<!-- 공통 스크립트-->
<!--<th:block th:replace="fragments/script :: scriptFragment"></th:block>-->
</body>
</html>