<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head xmlns:th="http://www.thymeleaf.org">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>베스트댓글 확인창</title>
    <link rel="stylesheet" th:href="@{/css/file-upload.css}"/>
</head>
<body>
<div class="upload-container">
    <div class="upload-header">
        <h2>베스트댓글 확인창 👍</h2>
        <p th:utext="${bestReview.registerDate}" style="text-align : right;"> </p>
        <h3>제목 : <a th:utext="${bestReview.title}" href="#"></a></h3>
    </div>
    <div class="upload-content">
        <div class="single-upload">
            <div th:utext="${bestReview.content}" class="panel-body"></div>
        </div>
        <button class="btn-danger" th:onclick="|window.location.href='/bestReview/delete/${bestReview.id}'|">삭제하기 😢</button>
        <button class="btn-success" th:onclick="|window.location.href='/bestReview/list'|">목록으로 😎</button>

    </div>
</div>
</body>
</html>