<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" th:fragment="reviewList">
<head xmlns:th="http://www.thymeleaf.org">
    <meta charset="UTF-8">
    <title>Insert title here</title>
    <!-- include libraries(jQuery, bootstrap) -->
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css" rel="stylesheet">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.js"></script>

</head>
<body>
<th:block layout:fragment="content">
    <div class="container">
        <div class="table-list">
            <table class="table_box">
                <tbody>
                <td th:each="bestReview : ${bestReviews}">
                    <a th:href="@{/bestReview/{id}(id = ${bestReview.id})}"
                       th:text="${bestReview.title}" class="articleTitle"></a>
                    <a th:text="${bestReview.registerDate}"/>
                    <a th:href="@{/bestReview/{id}(id = ${bestReview.id})}"
                       th:utext="${bestReview.content}"></a>
                </td>
                </tbody>
            </table>
        </div>
    </div>
</th:block>

    <script type="text/javascript">
	function clearSearch() {
		window.location = "[[@{article/list}]]";
	}

    </script>

</body>
</html>
