<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" th:fragment="reviewList">
<head xmlns:th="http://www.thymeleaf.org">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>베스트 리뷰</title>
    <!-- include libraries(jQuery, bootstrap) -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Droid+Sans:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.css">
    <link rel="stylesheet" th:href="@{/css/bestReview.css}"/>

</head>
<body>

<div class="container gallery-container">

    <h1> ❤너나들이와 함께한 베스트리뷰 (◍•ᴗ•◍)❤ </h1>

    <div class="tz-gallery">
        <div class="row">
            <div class="col-sm-12 col-md-4" th:each="bestReview : ${bestReviews}">
                <h3><a th:text="${bestReview.writer}" class="articleWriter"></a>님 🥳️</h3>
                <a class="lightbox" th:href="@{/bestReview/{id}(id = ${bestReview.id})}"
                   th:utext="${bestReview.content}" >
                </a>
            </div>
        </div>
    </div>

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.js"></script>

<script>
    baguetteBox.run('.tz-gallery');
</script>

</body>
</html>
