<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<meta charset="UTF-8">
<title>get</title>
<head xmlns:th="http://www.thymeleaf.org">

    <link rel="stylesheet" th:href="@{/css/button-like.css}" >
    <link th:href="@{/css/button-hover.css}" rel="stylesheet">

    <!-- include libraries(jQuery, bootstrap) -->
    <link
            href="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css"
            rel="stylesheet">
    <!-- loader js link-->
    <script type="text/javascript" src="http://code.jquery.com/jquery-2.1.4.js"></script>
    <!-- icon link -->
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"/>
    <script
            src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
    <script
            src="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.js"></script>
    <!--map 관련 head 정보-->
    <meta name='viewport' content='width=device-width, initial-scale=1'/>
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.css' rel='stylesheet'/>

    <style>
      #map {
        width: 800px;
        height: 300px;
      }

    </style>
</head>
<body>
<!--<th:block layout:fragment="content">-->
<br>
<br>
<br>
<br><br>
<br><br>
<br>



<div class="container">

    <!--<span>조회수</span>-->
    <!--좋아요 버튼-->
    <button class="like__btn">
        <span id="icon"><i class="far fa-thumbs-up"></i></span>
        <span id="count">0</span> Like
    </button>

    <script>
    const likeBtn = document.querySelector(".like__btn");
let likeIcon = document.querySelector("#icon"),
  count = document.querySelector("#count");

let clicked = false;


likeBtn.addEventListener("click", () => {
  if (!clicked) {
    clicked = true;
    likeIcon.innerHTML = `<i class="fas fa-thumbs-up"></i>`;
    count.textContent++;
  } else {
    clicked = false;
    likeIcon.innerHTML = `<i class="far fa-thumbs-up"></i>`;
    count.textContent--;
  }
});

</script>


    <div class="col-lg-10">
        <div>
            <input type="hidden" name="proNo" th:value="${productInfo.proNo}">
            <input type="hidden" name="N" th:value="${productInfo.N}">
            <input type="hidden" name="E" th:value="${productInfo.E}">
        </div>
        <div class="productImg">
            <img th:src="@{/upload/{MainImg}(MainImg = ${MainImg})}"
                 alt="상품 메인 이미지" style="width: 500px; height: 300px;"/> <!--이미지 style 재지정 필요(임의 크기 설정)-->
        </div>
        <div class="bookingProduct">

            가격:
            <h5 th:text="${productInfo.price}"></h5>
            <div style="text-align:left;">
                <button class="button-hover"
                        th:onclick="|window.location.href='@{/order/book/{proNo}(proNo= ${productInfo.proNo})}'|">예약하기
                </button>
                <button class="button-hover" th:onclick="|window.location.href='/'|">홈으로 🏰</button>

            </div>


            <button type="button" class="btn btn-success"
                    th:onclick="|window.location.href='@{/order/book/{proNo}(proNo= ${productInfo.proNo})}'|">예약하기
            </button>
            <button type="button" class="btn btn-default" th:onclick="|window.location.href='/board/list'|">목록으로</button>
        </div>
        <br>
        <br>
        <div>
            <div id="map"/>
        </div>
        <br>
        <table>
            <tr>
                <th>상품명</th>
                <td th:text="${productInfo.proTitle}"></td>
            </tr>
            <tr>
                <th>가격</th>
                <td th:text="${productInfo.price}"></td>
            </tr>
            <tr>
                <th>상품 설명</th>
                <div class="productImg">
                    <img th:src="@{/upload/{DetailImg}(DetailImg = ${DetailImg})}"
                         alt="상품 상세 이미지" style="width: 500px; height: 300px;"/> <!--이미지 style 재지정 필요(임의 크기 설정)-->
                </div>
                <td th:text="${productInfo.proContent}"></td>
            </tr>
        </table>
        <br>
        <br>
        <hr>
        <br>
        <div>
            <div th:fragment="reviewList" th:include="article/list :: reviewList"/>
        </div>
    </div>
</div>
<script>

    <!--파라미터 받기-->
    function getParameterByName(name) {
        name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
        var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
            results = regex.exec(location.search);
        return results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
    }

    <!--받은 걸로 변수 선언-->
    var E = getParameterByName('E');
    var N = getParameterByName('N');

    <!--기본 맵-->
    mapboxgl.accessToken = 'pk.eyJ1Ijoia2l3aWhhbm5haCIsImEiOiJja3IydGp6emsyZmc5Mm5tbnh1ZzA3bXZlIn0.FBt4dq5Av6NR1IbMttcyMA';
    var map = new mapboxgl.Map({
      container: 'map',
      style: 'mapbox://styles/mapbox/streets-v10',
      center: [E, N],
      zoom: 10
    });


    </script>
<!--</th:block>-->
</body>





</html>