<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>여행 상품</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<link th:href="@{/css/listStyle.css}" rel="stylesheet">
<link rel="stylesheet" th:href="@{/css/footer.css}">
<head th:replace="layout/header :: header">
</head>
<body>
<div th:replace="layout/bodyHeader :: bodyHeader" />
    <div class="jumbotrons" id="top">

    </div>
    <div class="container-fluid">
        <div class="rows">
            <!--checkbox 시작-->
            <div class="left-side">
                <form th:object="${listSearch}" name="searchFrm">
                    <div class="ItemFilter">
                        <div class="ItemFilterGroup">
                            <div class="ItemFilterGroupTitle">여행지</div>
                            <div class="ItemFilterGroupList">
                                <label>
                                    <input type="checkbox" name="region" th:value="Korea">&nbsp;국내
                                </label><br>
                                <label>
                                    <input type="checkbox" name="region" th:value="Japan">&nbsp;일본
                                </label><br>
                                <label>
                                    <input type="checkbox" name="region" th:value="China">&nbsp;중국
                                </label><br>
                                <label>
                                    <input type="checkbox" name="region" th:value="Southeast_Asia">&nbsp;동남아시아
                                </label><br>
                                <label>
                                    <input type="checkbox" name="region" th:value="Europe">&nbsp;유럽
                                </label>
                            </div>
                        </div>
                        <hr>
                        <div class="ItemFilterGroup">
                            <div class="ItemFilterGroupTitle">계절</div>
                            <div class="ItemFilterGroupList">
                                <label>
                                    <input type="checkbox" name="season" th:value="Spring">&nbsp;봄
                                </label><br>
                                <label>
                                    <input type="checkbox" name="season" th:value="Summer">&nbsp;여름
                                </label><br>
                                <label>
                                    <input type="checkbox" name="season" th:value="Autumn">&nbsp;가을
                                </label><br>
                                <label>
                                    <input type="checkbox" name="season" th:value="Winter">&nbsp;겨울
                                </label><br>
                            </div>
                        </div>
                        <hr>
                        <div class="ItemFilterGroup">
                            <div class="ItemFilterGroupTitle">테마</div>
                            <div class="ItemFilterGroupList">
                                <label>
                                    <input type="checkbox" name="theme" th:value="Family">&nbsp;가족
                                </label><br>
                                <label>
                                    <input type="checkbox" name="theme" th:value="Friend">&nbsp;친구
                                </label><br>
                                <label>
                                    <input type="checkbox" name="theme" th:value="Couple">&nbsp;커플
                                </label><br>
                                <label>
                                    <input type="checkbox" name="theme" th:value="Filial">&nbsp;효도
                                </label><br>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-default" id="btnSearch" style="background-color: #16a085; color: #f0f0f0;">검색</button>
                    </div>
                </form>
            </div> <!--checkbox 종료-->

            <!--상품 목록(card-deck) 시작-->
            <div class="card-decks-first">
                <div class="card-decks-second" th:each = "list : ${items}">
                    <div class="cards">
                        <block th:each=" file : ${MainImage}" th:remove="tag">
                            <img class="card-img-top" th:if="${list.proNo} eq ${file.proNo}"
                                 th:src="@{/upload/{fileName}(fileName = ${file.fileName})}" alt="여행 상품 메인 사진">
                        </block>
                        <div class="card-body">
                            <h3><a class="proTitle" th:href="@{/board/get(proNo=${list.proNo}, N=${list.N}, E=${list.E})}"
                                   th:text = "${list.proTitle}"></a></h3>
                            <p class="card-text" th:text="'￦ '+${list.price}"></p>
                            <p class="card-text" th:text="${list.proContent}"></p>
                        </div>
                        <div class="card-footer">
                            @<input type="hidden" name="region" th:text="${list.region}">&nbsp;
                            @<input type="hidden" name="season" th:text="${list.season}">&nbsp;
                            @<input type="hidden" name="theme" th:text="${list.theme}">
                        </div>
                    </div>
                </div>
            </div>
            <!-- 페이징 처리
            <nav style="text-align: center">
                <ul class="pagination"
                    th:with="start=${T(Math).floor(articleList.number/10) * 10 + 1},
              last=${start + 9 < articleList.totalPages ? start + 9 : articleList.totalPages}">

                    <li>
                        <a th:href="@{./list(page=1)}" aria-label="First">
                            <span aria-hidden="true">← 처음</span>
                        </a>
                    </li>

                    <li th:class="${articleList.first} ? 'disabled'">
                        <a th:href="${articleList.first} ? '#' : @{./list(page=${articleList.number})}"
                           aria-label="Previous">
                            <span aria-hidden="true">&lt;</span>
                        </a>
                    </li>

                    <li th:each="page: ${#numbers.sequence(start, last)}"
                        th:class="${page == articleList.number + 1} ? 'active'">
                        <a th:text="${page}" th:href="@{./list(page=${page})}">&nbsp;</a>
                    </li>

                    <li th:class="${articleList.last} ? 'disabled'">
                        <a th:href="${articleList.last} ? '#' : @{./list(page=${articleList.number + 2})}"
                           aria-label="Next">
                            <span aria-hidden="true">&gt;</span>
                        </a>
                    </li>

                    <li>
                        <a th:href="@{./list(page=${articleList.totalPages})}" aria-label="Last">
                            <span aria-hidden="true">마지막 →</span>
                        </a>
                    </li>
                </ul>
            </nav>-->
        </div>
    </div>
    <!--if($("input:checkbox[name='region']").is(":checked")){
    alert("하나만 선택해주세요");
    }-->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
    <script>
    $(document).ready(function(){

        $("input:checkbox[name='region']").change(function(){
            var items = [];

            $("input:checkbox[name='region']:checked").each(function(){
                items.push($(this).val());
                console.log(items.length);

                if(items.length > 1){
                    alert("하나만 선택해주세요");
                    $("input:checkbox[name='region']").attr("checked", false);
                    console.log(items);
                }

            });
        });

        $("input:checkbox[name='season']").change(function(){
            var items = [];

            $("input:checkbox[name='season']:checked").each(function(){
                items.push($(this).val());
                console.log(items.length);

                if(items.length > 1){
                    alert("하나만 선택해주세요");
                    $("input:checkbox[name='season']").attr("checked", false);
                    console.log(items);
                }

            });
        });

        $("input:checkbox[name='theme']").change(function(){
            var items = [];

            $("input:checkbox[name='theme']:checked").each(function(){
                items.push($(this).val());
                console.log(items.length);

                if(items.length > 1){
                    alert("하나만 선택해주세요");
                    $("input:checkbox[name='theme']").attr("checked", false);
                    console.log(items);
                }

            });
        });

    });
    </script>
<div th:replace="layout/footer :: footer" />
</body>
</html>