<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head xmlns:th="http://www.thymeleaf.org">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>댓글 확인창</title>
    <link rel="stylesheet" th:href="@{/css/file-upload.css}"/>
</head>
<body>
<div class="upload-container">
    <div class="upload-header">
        <h2>댓글 확인창 🤹</h2>
        <p th:utext="${article.registerDate}" style="text-align : right;"> </p>
        <h3>제목 : <a th:utext="${article.title}" href="#"></a></h3>
    </div>
    <div class="upload-content">
        <div class="single-upload">

            <div th:utext="${article.content}" class="panel-body"></div>
        </div>
        <button class="btn-primary" th:onclick="|window.location.href='/article/update/${article.id}'|">수정하기 🤩</button>
        <button class="btn-danger" th:onclick="|window.location.href='/article/delete/${article.id}'|">삭제하기 😢</button>
        <button class="btn-success" th:onclick="|window.location.href='/article/list'|">목록으로 😎</button>
        <button class="btn-success" th:onclick="|window.location.href='/transfer/${article.id}'|">베스트 선정하기 👍</button>


    </div>
</div>
</body>
</html>