<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<head>
    <title>댓글목록</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- include libraries(jQuery, bootstrap) -->
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css" rel="stylesheet">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.js"></script>

    <link th:href="@{/css/button-hover.css}" rel="stylesheet">
    <link th:href="@{/css/itemList.css}" rel="stylesheet">

    <head th:replace="fragments/header :: header">
        <div th:replace="layout/bodyHeader :: bodyHeader" />
</head>

<body>
<th:block th:fragment="reviewList">
<br>
    <br>
    <br>
    <br>
    <br>
    <div class="container">
        <div style="text-align:left;">
        <button class="button-hover" th:onclick="|window.location.href='/form'|">후기쓰기😇</button>
        <button class="button-hover" th:onclick="|window.location.href='/'|">홈으로 🏰</button> <!--상품보기로 돌아가는 버튼 필요-->

        </div>

        <div class="table-list">
            <table class="table_box">
                <thead>
                <tr>
                    <th class="th-list">No</th>
                    <th class="th-list">제목</th>
                    <th class="th-list">작성자</th>
                    <th class="th-list">작성일</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="article : ${articleList}">
                    <td th:text="${article.id}"></td>
                    <td><a th:href="@{/article/{id}(id = ${article.id})}" th:text="${article.title}"
                           class="articleTitle"></a></td>
                    <td th:text="${article.writer}"></td>
                    <td th:text="${article.registerDate}"/>
                </tr>
                </tbody>
            </table>
        </div>

        <!--페이징, 검색 시작-->
        <nav style="text-align: center">

            <div>
                <form th:action="@{/article/search}" th:method="GET" >
                    <input name="keyword" type="text" placeholder="검색할 제목을 입력" style="width: 80%;">
                    <button class="btn-home">검색하기</button>
                </form>
            </div>

            <ul class="pagination"
                th:with="start=${T(Math).floor(articleList.number/10) * 10 + 1},
              last=${start + 9 < articleList.totalPages ? start + 9 : articleList.totalPages}">

                <li>
                    <a th:href="@{./list(page=1)}" aria-label="First">
                        <span aria-hidden="true">← 처음</span>
                    </a>
                </li>

                <li th:class="${articleList.first} ? 'disabled'">
                    <a th:href="${articleList.first} ? '#' : @{./list(page=${articleList.number})}"
                       aria-label="Previous">
                        <span aria-hidden="true">&lt;</span>
                    </a>
                </li>

                <li th:each="page: ${#numbers.sequence(start, last)}"
                    th:class="${page == articleList.number + 1} ? 'active'">
                    <a th:text="${page}" th:href="@{./list(page=${page})}">&nbsp;</a>
                </li>

                <li th:class="${articleList.last} ? 'disabled'">
                    <a th:href="${articleList.last} ? '#' : @{./list(page=${articleList.number + 2})}"
                       aria-label="Next">
                        <span aria-hidden="true">&gt;</span>
                    </a>
                </li>

                <li>
                    <a th:href="@{./list(page=${articleList.totalPages})}" aria-label="Last">
                        <span aria-hidden="true">마지막 →</span>
                    </a>
                </li>
            </ul>
        </nav>
        <!--페이징 시작-->

    </div>

    <script type="text/javascript">
   function clearSearch() {
      window.location = "[[@{article/list}]]";
   }
</script>
</th:block>

</body>
<link th:href="@{/css/footer.css}" rel="stylesheet">
<div th:replace="fragments/footer :: footer" />

</html>