<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.springframework.org/security/tags">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width"/>
    <meta name="_csrf" th:content="${_csrf.token}">
    <meta name="_csrf_header" th:content="${_csrf.parameterName}">
    <title>✈️리뷰작성</title>
    <link rel="stylesheet" th:href="@{/css/button.css}"/>
    <link rel="stylesheet" th:href="@{/css/file-upload.css}"/>

    <!-- include libraries(jQuery, bootstrap) -->
    <link
            href="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css"
            rel="stylesheet">
    <script
            src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
    <script
            src="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.js"></script>
    <!-- include summernote css/js-->
    <link
            href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.2/summernote.css"
            rel="stylesheet">
    <script
            src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.2/summernote.js"></script>

    <!--<head th:replace="fragments/header :: header">-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>

<div class="upload-container" sec:authorize="isAuthenticated()">
    <div class="upload-header">
        <h3 style="margin-bottom: 25px;">리뷰를 작성해주세요 “φʕ•ᴥ•｡ʔ</h3>
    </div>
    <form id="articleForm" role="form" action="/write" method="post">
        <div class="upload-content">
            <input type="hidden" th:name="proNo" th:value="${proNo}">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
            <input type="text" class="form-control" id="title" name="title"
                   placeholder="제목" style="margin-bottom: 5px;" required>
        </div>
        <div class="form-group" style="text-align:left;">
			<textarea class="form-control" id="summernote" name="content"
                      placeholder="content" maxlength="140" rows="7"></textarea>
        </div>
        <div style="text-align : right;">
            <button type="submit" id="submit" name="submit" style="margin-top:0px; margin-bottom:0px; font-size:15px;"
                    class="button">저장하기 🥰
            </button>
            <a type="button" style="text-decoration:none; font-size:15px;" class="button"
               th:href="@{/board/get(proNo=${proNo}, N=${N}, E=${E})}">상품으로 돌아가기 😋</a>
        </div>
    </form>
</div>
</body>

<script th:inline='javascript'>
      $(document).ready(function() {
         $('#summernote').summernote({
            height : 300,
            minHeight : null,
            maxHeight : null,
            focus : true,
            callbacks : {
               onImageUpload : function(files, editor, welEditable) {
                  for (var i = 0; i < files.length; i++) {
                     sendFile(files[i], this);
                  }
               }
            }
         });
      });

      function sendFile(file, el) {

      	 var token = $("meta[name='_csrf']").attr("content");
		 var header = $("meta[name='_csrf_header']").attr("content");

         var form_data = new FormData();
         form_data.append('file', file);
         form_data.append(header, token);

         $.ajax({
            data : form_data,
            method : "POST",
            url : '/image',
            cache : false,
            contentType : false,
            enctype : 'multipart/form-data',
            processData : false,
            success : function(url) {
               $(el).summernote('insertImage', url, function($image) {
                  $image.css('width', "50%");
               });
            }
         });
      }

</script>
<link th:href="@{/css/footer.css}" rel="stylesheet">

</html>
