<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{layout/layout}">

<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--css-->
    <link rel="stylesheet" th:href="@{/css/itemList.css}"/>
    <link rel="stylesheet" th:href="@{/css/bestReview.css}"/>
    <link rel="stylesheet" th:href="@{/css/button-hover.css}"/>

    <title>✈️회원정보</title>
</head>
<th:block layout:fragment="content">
<div class="container gallery-container">
    <br>

    <h1> <span sec:authentication="principal.username"></span> 회원님 정보(◍•ᴗ•◍)❤ </h1>
    <div style="text-align:right;">
        <a class="button-hover" th:href="@{/user/passwordCheck}"
           style="font-size: 0.9rem; text-decoration:none; width:30px; padding-left: 32px; padding-right: 32px;">회원정보 수정 🧐</a>
        <button class="button-hover" th:onclick="|window.location.href='/'|"  style="font-size: 1rem;" >홈으로 가기 😎</button>
    </div>

    <div class="container">
        <div class="table-list">
            <table class="table_box" style="width:100%">
                <thead>
                <tr th:each="member : ${members}">
                    <th class="th-list">아이디</th>
                    <th class="th-list" th:text="${member.username}"></th>
                </tr>
                </thead>

                <tbody>
                <tr th:each="member : ${members}">
                    <td>이름</td>
                    <td th:text="${member.name}"></td>
                </tr>
                <tr th:each="member : ${members}">
                    <td>성별</td>
                    <td th:text="${member.gender}"></td>
                </tr>
                <tr th:each="member : ${members}">
                    <td>주소</td>
                    <td th:text="${member.address}"></td>
                </tr>
                <tr th:each="member : ${members}">
                    <td>생일</td>
                    <td th:text="${member.birthdate}"></td>
                </tr>
                <tr th:each="member : ${members}">
                    <td>연락처</td>
                    <td th:text="${member.phoneNo}"></td>
                </tr>
                <tr th:each="member : ${members}">
                    <td>가입일</td>
                    <td th:text="${member.regDate}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</th:block>
</html>
