<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>#</th>
            <th>아이디</th>
            <th>비밀번호</th>
            <th>이름</th>
            <th>성별</th>
            <th>주소</th>
            <th>생일</th>
            <th>연락처</th>
            <th>가입일</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="member : ${members}">
            <td th:text="${member.id}"></td>
            <td th:text="${member.username}"></td>
            <td>****</td>
            <td th:text="${member.name}"></td>
            <td th:text="${member.gender}"></td>
            <td th:text="${member.address}"></td>
            <td th:text="${member.birthdate}"></td>
            <td th:text="${member.phoneNo}"></td>
            <td th:text="${member.regDate}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>