<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:href="@{/css/button-hover.css}" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>✈️비밀번호 확인</title>
    <link rel="stylesheet" th:href="@{/css/file-upload.css}"/>
    <link rel="stylesheet" th:href="@{/css/button.css}"/>
    <script src='https://code.jquery.com/jquery-3.3.1.min.js'></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</head>
<body>
<div class="upload-container">
    <div class="upload-header">
        <h2>회원수정🤹</h2>
    </div>
    <div class="upload-content" >
        <form method="post" th:action="@{/checkingPw}">
            <div style="text-align:center;"><br>
                <h3 style=>🔹 비밀번호를 입력하여 본인인증을 해주세요 🔹</h3>
                <input type="password" th:name="password" style="width:350px; margin-top:15px; margin-bottom:20px; height: 40px;" placeholder="비밀번호 확인" required><br>
                <button type="submit" class="button-hover" style=" font-size:15px;">본인인증 😊</button>
                <a type="button" class="button-hover"
                   style="font-size:15px; text-decoration:none; margin-left:40px;" th:href="@{/user/info}"> 수정취소하기 😋</a>
            </div>
        </form>
    </div>
</div>
</body>
</html>