button.button-hover{
  background:#1AAB8A;
  color:#fff;
  border:none;
  position:relative;
  height:40px;
  font-size:1.6em;
  padding:0 2em;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
  margin: 20px;
}
button.button-hover:hover{
  background:#fff;
  color:#1AAB8A;
}
button.button-hover:before,button:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: #1AAB8A;
  transition:400ms ease all;
}
button.button-hover:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
button.button-hover:hover:before,button:hover:after{
  width:100%;
  transition:800ms ease all;
}

a.button-hover{
  background:#ffcc00;
  color:#000000;
  border:none;
  position:relative;
  height:40px;
  font-size:1.6em;
  padding:12.5px;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
  margin: 20px;
}
a.button-hover:hover{
  background:#000000;
  color:#ffcc00;
}
a.button-hover:before,button:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: #ffcc00;
  transition:400ms ease all;
}
a.button-hover:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
a.button-hover:hover:before,button:hover:after{
  width:100%;
  transition:800ms ease all;
}

button.button-hover1{
  background:#ffbd1b;
  color:#fff;
  border:none;
  position:relative;
  height:40px;
  font-size:1.6em;
  padding:12.5px;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
  margin: 20px;
}
button.button-hover1:hover{
  background:#fff;
  color:#ffbd1b;
}
button.button-hover1:before,button:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: #ffbd1b;
  transition:400ms ease all;
}
button.button-hover1:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
button.button-hover1:hover:before,button:hover:after{
  width:100%;
  transition:800ms ease all;
}


a.button-hover1{
  background:#1AAB8A;
  color:#fff;
  border:none;
  position:relative;
  height:40px;
  font-size:1.6em;
  padding:12.5px;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
  margin: 20px;
}
a.button-hover1:hover{
  background:#fff;
  color:#1AAB8A;
}
a.button-hover1:before,button:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: #1AAB8A;
  transition:400ms ease all;
}
a.button-hover1:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
a.button-hover1:hover:before,button:hover:after{
  width:100%;
  transition:800ms ease all;
}