/* 리셋 CSS */
* {margin:0;padding:0;box-sizing:border-box;}
ul, li {list-style:none;}

/* 슬라이드 Style */
.slidebox1 {
max-width:750px;
margin:0 auto;
}
.slidebox1 .slidelist1 {
white-space:nowrap;
font-size:0;
overflow:hidden;
}
.slidebox1 .slidelist1 .slideitem1 {
position:relative;display:inline-block;
vertical-align:middle;
width:100%;
transition:all 1s;
}
.slidebox1 .slidelist1 .slideitem1 > a {
display:block;
width:auto;
position:relative;
}
.slidebox1 .slidelist1 .slideitem1 > a img {
max-width:100%;
}


[name="slide1"] {display:none;}
#slide01:checked ~ .slidelist1 .slideitem1 {
transform:translateX(0);
animation:slide01 15s infinite;
}
#slide02:checked ~ .slidelist1 .slideitem1 {
transform:translateX(-100%);
animation:slide02 15s infinite;
}
#slide03:checked ~ .slidelist1 .slideitem1 {
transform:translateX(-200%);
animation:slide03 15s infinite;
}




@keyframes slide01 {
	0% {left:0%;}
	33% {left:0%;}
	34% {left:-100%}
	66% {left:-100%;}
	67% {left:-200%;}
	99% {left:-200%;}
	100% {left:0%;}
}

@keyframes slide02 {
	0% {left:0%;}
	33% {left:0%;}
	34% {left:-100%;}
	66% {left:-100%;}
	67% {left:100%;}
	99% {left:100%;}
	100% {left:0%;}
}

@keyframes slide03 {
	0% {left:0%;}
	33% {left:0%;}
	34% {left:200%;}
	66% {left:200%;}
	67% {left:100%;}
	99% {left:100%;}
	100% {left:0%;}
}

HTML CSS JSResult Skip Results Iframe
EDIT ON

.modal_wrap{
        display: none;
        width: 500px;
        height: 500px;
        position: absolute;
        top:50%;
        left: 50%;
        margin: -250px 0 0 -250px;
        background:#eee;
        z-index: 2;
    }
    .black_bg{
        display: none;
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        background-color:rgba(0, 0,0, 0.5);
        top:0;
        left: 0;
        z-index: 1;
    }
    .modal_close{
        width: 26px;
        height: 26px;
        position: absolute;
        top: -30px;
        right: 0;
    }
    .modal_close> a{
        display: block;
        width: 100%;
        height: 100%;
        background:url(https://img.icons8.com/metro/26/000000/close-window.png);
        text-indent: -9999px;
    }

