/* 리셋 CSS */
* {margin:0;padding:0;box-sizing:border-box;}
ul, li {list-style:none;}
body {
	font-family: poppins;
	margin: 0 auto;
	padding: 0px;
	display: fixed;
	font-size: 14px;
}
.icons {
    font-style: normal;
    font-weight: bold;
}
li {
    list-style: none;
}
.main {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #16a085;
	line-height: 3.8;
	font-size: 80px;
	text-transform: uppercase;
	font-weight: bold;
}
footer {
    width: 100%;
    display:  inline-flex;
    flex-flow: wrap;
    padding: 30px;
    color: #fff;
    background-color: #16a085;
    margin-top: 24px;
}
.main_logo_img{
	width: 150px;
	height: 60px;
	padding: 0.3rem 0.35rem;
}
p{
	margin: 0px;
	text-align: center;
}
.footer > * {
	flex: 1 100%;
}
.footer-left {
	margin: 0;
}
.footer-left img {
	width: 50%;
	height: 50%;
}
h4 {
    font-weight: 600;
    font-size: 30px;
    color: white;
    background: #16a085;
    border-radius: 4px;
    width: 400px;
    height: 38px;
    text-align: center;
    margin: 10px 195px 10px 195px;
}
h2 {
	font-weight: 600;
	font-size: 25px;
    text-align: left;
    width: 200px;
    margin-left: 20px;
}
.More {
    margin-left: 20px;
	font-weight: 600;
	font-size: 25px;
    text-align: left;
}
.footer ul {
    line-height: 2em;
    margin-left: -30px;
    width: 170px
}
.footer li {
	line-height: 2em;
    width: 230px;
}
.footer a {
	text-decoration: none;
}
.footer-right {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-flow: row wrap;
}
.footer-right > * {
	flex: 1 50%;
	margin-right: 3.25em;
}
.box a {
	color: white;
}
.li_box {
    width: 195px;
    margin-left: -15px;
}
.footer-bottom {
	height: 50px;
	width: 98%; /*중앙배치됨*/
	font-size: 20px;
	text-align: center;
	position: absolute;
	bottom: 0px;
	left: 0px;
	padding-top: 15px;
	color: white;
}
.footer-left p {
	padding-right: 20%;
	color: white;
}
.social a {
	background: #364a62;
	width: 40px;
	height: 40px;
	display: inline-block;
	margin-right: 10px;
}
.social a i {
	color: white;
	padding: 10px 12px;
	font-size: 20px;
}

@media screen and (min-width: 600px) {
	.footer-right > * {
		flex: 1;
	}
	.footer-left {
		flex: 1 0px;
	}
	.footer-right{
		flex: 2 0px;
	}
}

@media (max-width: 1300px) {
	.footer {
		padding: 15px;
	}
	main {
		font-size: 55px;
	}
}