.navbar-custom {
    background-color: #16a085;
    position: fixed;
    z-index: 1;
    width: 100%;
    justify-content: center;
}
li a {
    color: white;
    text-align: center;
    /*padding: 20px 10px 10px 10px;*/
}
li a:hover {
    color:  #0C4F3C;
}
ul {
    justify-content: center;
}
.main_logo_img{
	width:180px;
	height:80px;
	padding: 0rem 0rem;
}
.navbar_logo {
	padding: 0;
    width: 140px;
    text-align: center;
}
.navbar_logo a {
    font-size: 24px;
	color : white;

}
.navbar_logo a:hover {
    color:  #0C4F3C;
}
.navbar_interval{
	display:flex;
	list-style: none;
	padding-left: 0;
}
.navbar_interval li {
	padding: 22px 80px; /*메뉴안 내용들의 간격 조정*/
}
.navbar_menu {
	display: flex; /*한 줄에 하나씩 나옴*/
	list-style:none; /*홈이 같지 않음*/
	padding-left: 0; /*이렇게 지정해서 중앙에 배치*/
	font-size: 24px;
}
.navbar_menu li {
    width: 140px;
    height: 22px;
    text-align: center;
}
.navbar_icons{
	color: white;
	font-size: 24px;
	display: flex;
	list-style:none;
	padding-left: 0rem; /*중앙 배치*/
}
.navbar_icons li {
    width: 140px;
	height: 22px;
    text-align: center;
}
.navbar_toogleBtn { /*위치 조정*/
	display: none; /*큰 크기때는 안 보이게 함*/
	position: absolute; /*제일 위에 배치*/
	right: 32px; /*오른쪽에서 32px 떨어진 곳에 배치*/
	font-size: 24px;
	color: white;
}