@charset "UTF-8";

#top{
		height: 11px;
		background-position: center;
    	background-size: cover;
		background-repeat: no-repeat;
	}
	.ItemFilter{
		width: 190px;
        border: 1px solid #d7d7db;
        margin: 10px;
        margin-left: 5px;
        padding: 15px;
        padding-left: -20px;
        border-radius: 4px;
	}
	.ItemFilterGroupTitle{
		padding-top: 4px;
		font-weight: 700;
		font-size: 16px;
	}
	.ItemFilterGroupList{
		cursor: pointer;
		margin-top: 5px;
		margin-left: 5px;
		align-items: center;
	}
	.check{
		height: 16px;
		width: 16px;
		margin-right: 5px;
	}
	.card{
		margin-top: 10px;
		margin-right: 5px;
		margin-left: 5px;
		/*width: 18rem;
		height: 30rem*/
	}
	@media (min-width: 576px)
    .card-deck {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
        flex-flow: wrap;
        margin-right: -45px;
        margin-left: -15px;
    }
    .jumbotron {
        padding: 2rem 1rem;
        margin-bottom: 2rem;
        background-color: #FFF;
        border-radius: .3rem;
    }