* {
  box-sizing: border-box;
  font-family: 'Nanum Gothic Coding', monospace;
  border-radius: 5px;
}
html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #16a085;

}
.login-form {
    width: 500px;
    height: 450px;
    background-color: #EEEFF1;
    margin-right: auto;
    margin-left: auto;
    /*margin-top: 50px;*/
    padding: 20px;
    text-align: center;
    border: none;

}
.form-signin {
  width: 100%;
  max-width: 450px;
  padding: 15px;
  margin: auto;
}

.form-signin .checkbox {
  font-weight: 400;

}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: 15px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  font-size: 18px;
  padding: 15px;
  border: none;
  width: 450px;
}

.form-signin input[type="password"] {
  margin-bottom: 15px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  font-size: 18px;
  padding: 15px;
  border: none;
  width: 450px;
}

.form-signin input[type="text"] {
  margin-bottom: 15px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  font-size: 18px;
  padding: 15px;
  border: none;
  width: 450px;
}

.submit-btn {
  font-size: 20px;
  border: none;
  padding: 9px;
  width: 460px;
  background-color: #16a085;
  margin-bottom: 12px;
  color: white;
}


.left {
text-align:left;
margin-left:2px;
}
.checkbox input {display:none;}
.checkbox span {display:inline-block;vertical-align:middle;cursor:pointer;}
.checkbox .icon {position:relative;width: 17px;height: 17px;border: 1px solid #c8ccd4;border-radius: 3px;transition: background 0.1s ease;}
.checkbox .icon::after {content: '';position: absolute;top: 1px;left: 5px;width: 5px;height: 11px;border-right: 2px solid #fff;border-bottom: 2px solid #fff;transform: rotate(45deg) scale(0);transition: all 0.3s ease;transition-delay: 0.15s;opacity: 0;}
.checkbox .text {margin-left: 5px;}

.checkbox input:checked ~ .icon {border-color: transparent;background: #ffba00;animation: jelly 0.6s ease;}
.checkbox input:checked ~ .icon::after {opacity: 1;transform: rotate(45deg) scale(1);
}

@keyframes jelly {
	from {transform: scale(1, 1);}
	30% {transform: scale(1.25, 0.75);}
	40% {transform: scale(0.75, 1.25);}
	50% {transform: scale(1.15, 0.85);}
	65% {transform: scale(0.95, 1.05);}
	75% {transform: scale(1.05, 0.95);}
	to {transform: scale(1, 1);}
}