.admin_title {
    background: #16a085;
    width: 400px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    margin-left: 250px;
    font-size: 35px;
    text-align: center;
    color: white;
}
.form-word {
    width: 795px;
    height: 40px;
    text-align: center;
    font-size: 24px;
    border-style: 1px solid #16A085;
}
.form-word-content {
    width: 795px;
    height: 135px;
    text-align: center;
    font-size: 24px;
    border-style: 1px solid #16A085;
    text-overflow: ellipsis;
}
.title {
    font-size: 23px;
    text-align: center;
    color: #16a085;
    font-weight: bold;
    margin-right: 680px;
    padding: 5px;
    margin-left: 15px;
}
.price {
    font-size: 23px;
    text-align: center;
    color: #16a085;
    font-weight: bold;
    margin-right: 680px;
    padding: 5px;
    margin-left: 15px;
}
.adminId {
    font-size: 23px;
    text-align: center;
    color: #16a085;
    font-weight: bold;
    margin-right: 586px;
    padding: 5px;
    margin-left: 15px;
}
.content {
    font-size: 23px;
    text-align: center;
    color: #16a085;
    font-weight: bold;
    margin-right: 630px;
    padding: 5px;
    margin-left: 15px;
}
.region-season-theme {
    margin-left: 140px;
}
.region {
    font-size: 23px;
    text-align: center;
    color: #16a085;
    font-weight: bold;
}
.season {
    font-size: 23px;
    text-align: center;
    color: #16a085;
    font-weight: bold;
}
.theme {
    font-size: 23px;
    text-align: center;
    color: #16a085;
    font-weight: bold;
}
.select_region {
    font-size: 15px;
    font-weight: bold;
    width: 100px;
    height: 32px;
    border-color: black;
    border-radius: 4px;
}
.select_season {
    font-size: 15px;
    font-weight: bold;
    width: 100px;
    height: 32px;
    border-color: black;
    border-radius: 4px;
}
.select_theme {
    font-size: 15px;
    font-weight: bold;
    width: 100px;
    height: 32px;
    border-color: black;
    border-radius: 4px;
}
.N {
    font-size: 23px;
    text-align: center;
    color: #16a085;
    font-weight: bold;
    margin-right: 630px;
    padding: 5px;
    margin-left: 15px;
}
.E {
    font-size: 23px;
    text-align: center;
    color: #16a085;
    font-weight: bold;
    margin-right: 630px;
    padding: 5px;
    margin-left: 15px;
}
.buttons {
    margin-left: 140px;
    margin-top: 25px;
}
.btn-upload {
    font-size: 23px;
    color: white;
    text-align: center;
    background: #16a085;
    font-weight: bold;
    margin: 15px;
    padding: 5px;
    border-radius: 4px;
    width: 150px;
    border-color: white;
}
.btn-upload:hover {
    background: #0C4F3C;
}
.btn-delete {
    font-size: 23px;
    color: white;
    text-align: center;
    background: #CF1F42;
    font-weight: bold;
    margin-left: 0px;
    padding: 5px;
    border-radius: 4px;
    width: 150px;
    border-color: white;
}
.btn-delete:hover {
    background: #A61935;
}
.btn-list {
    font-size: 23px;
    color: white;
    text-align: center;
    background: #2569CF;
    font-weight: bold;
    margin-left: 0px;
    padding: 5px;
    border-radius: 4px;
    width: 150px;
    border-color: white;
}
.btn-list:hover {
    background: #1E55A8;
}