<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">


    <title>Login</title>
</head>

<body class="text-center">


<div class="container-fluid">
    <div class="row">
        <div class="col-lg-3">
            <h2 class="display-6 my-4 text-left">회원가입</h2>
            <hr align="left" style="width: 75%;">
        </div>
        <div class="col-lg-9 my-4 mb-4" style="height: 100%;">
            <form class="form-signin" th:action="@{/account/register}" method="post">



               <!--아이디-->
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">아이디</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="username" id="username"
                               placeholder="아이디" required>
                    </div>
                </div>

                <!--비밀번호-->
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">비밀번호</label>
                    <div class="col-sm-6">
                        <input type="text" pattern=".{8,12}" class="form-control" name="password" id="password"
                               placeholder="비밀번호" required>
                        <small id="passwordhelp" class="form-text text-muted">8글자 이상 12글자 이하로 입력해주세요.</small>
                    </div>
                </div>

                <!--이메일-->
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Email</label>
                    <div class="col-sm-6">
                        <input type="email" class="form-control" name="useremail" id="useremail"
                               placeholder="Email" required>
                    </div>
                </div>


                <!--주소-->
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">주소</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="address" id="address"
                               placeholder="주소" required>
                    </div>
                </div>

                <!--생년월일-->
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">생년월일</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="brithdate" id="brithdate"
                               placeholder="생년월일" required>
                        <small id="birthhelp" class="form-text text-muted">예시: 2021/04/28 -> 210428</small>
                    </div>
                </div>

                <!--전화번호-->
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">전화번호</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="phoneno" id="phoneno"
                               placeholder="전화번호" required>
                    </div>
                </div>



<!--
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">성별</label>
                                    <div class="col-sm-6">
                                        남성<input type="radio"  name="conuntry" value="남성 ">&nbsp;
                                        여성<input type="radio" name="conuntry" value="여성 " >&nbsp;

                                    </div>
                                </div>

                                &lt;!&ndash;선호하는 여행지&ndash;&gt;
                                <div class="form-group row">
                                    <label class="col-sm-4">선호하는 여행지는 어디신가요?</label>
                                    <div class="col-sm-6">
                                        국내<input type="radio"  name="conuntry" value="국내 ">&nbsp;
                                        일본<input type="radio" name="conuntry" value="일본 " >&nbsp;
                                        중국<input type="radio" name="conuntry" value="중국 " >&nbsp;
                                        동남아시아<input type="radio" name="conuntry" value="동남아시아 " >&nbsp;
                                        유럽<input type="radio" name="conuntry" value="유럽 " >
                                    </div>
                                </div>
                                &lt;!&ndash;선호하는 날씨&ndash;&gt;
                                <div class="form-group row">
                                    <label class="col-sm-4">선호하는 계절은 무엇인가요?</label>
                                    <div class="col-sm-6">
                                        봄<input type="radio"  name="conuntry" value="봄 ">&nbsp;
                                        여름<input type="radio" name="conuntry" value="여름 " >&nbsp;
                                        가을<input type="radio" name="conuntry" value="가을 " >&nbsp;
                                        겨울<input type="radio" name="conuntry" value="겨울 " >
                                    </div>
                                </div>
                                &lt;!&ndash;선호하는 테마&ndash;&gt;
                                <div class="form-group row">
                                    <label class="col-sm-4">선호하는 테마는 무엇인가요?</label>
                                    <div class="col-sm-6">
                                        가족<input type="radio"  name="conuntry" value="가족 ">&nbsp;
                                        친구<input type="radio" name="conuntry" value="친구 " >&nbsp;
                                        커플<input type="radio" name="conuntry" value="커플 " >&nbsp;
                                        효도<input type="radio" name="conuntry" value="효도 " >
                                    </div>
                                </div>&ndash;&gt;-->


                <div class="form-group row">
                    <div class="col-md-8 text-center">
                        <button class="btn btn-outline-primary btn-block" type="submit">회원가입</button>
                        <button class="btn btn-outline-danger btn-block" type="submit">취소</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>



<!--Optional JavaScript-->
<!--jQuery first, then Popper.js, then Bootstrap JS-->

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
</body>

</html>


<!--
<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    &lt;!&ndash; Required meta tags &ndash;&gt;
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    &lt;!&ndash; Bootstrap CSS &ndash;&gt;
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link th:href="@{/css/signin.css}" rel="stylesheet">

    <title>Login</title>
</head>

<body class="text-center">
<form class="form-signin" th:action="@{/account/register}" method="post">
    <a th:href="@{/}"><img class="mb-4" src="https://getbootstrap.com/docs/4.5/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72"></a>
    <h1 class="h3 mb-3 font-weight-normal">회원가입</h1>
    <label for="username" class="sr-only">Username</label>
    <input type="text" id="username" name="username" class="form-control" placeholder="Username" required autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required>
    &lt;!&ndash; <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div> &ndash;&gt;
    <button class="btn btn-lg btn-primary btn-block" type="submit">회원가입</button>
    <p class="mt-5 mb-3 text-muted">&copy; 2017-2020</p>
</form>

&lt;!&ndash; Optional JavaScript &ndash;&gt;
&lt;!&ndash; jQuery first, then Popper.js, then Bootstrap JS &ndash;&gt;
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
</body>

</html>-->
