<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{layout/layout}">
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<head>
  <title>Home</title>
  <!--css-->
  <link rel="stylesheet" th:href="@{/css/home.css}" >
  <link rel="stylesheet" th:href="@{/css/button.css}" >
  <link rel="stylesheet" th:href="@{/css/event.css}" >
  <!--js -->
  <!-- loader js link-->
  <script type="text/javascript" src="http://code.jquery.com/jquery-2.1.4.js"></script>
  <script th:src="@{/js/home.js}"></script>
</head>

<th:block layout:fragment="content">
  <body>
  <!-- Begin Page Content -->
  <div class="containers">
    <!--image slider start-->
    <div class="slider">
      <div class="slides">
        <!--radio button start-->
        <input type="radio" name="radio-btn" id="radio1">
        <input type="radio" name="radio-btn" id="radio2">
        <input type="radio" name="radio-btn" id="radio3">
        <input type="radio" name="radio-btn" id="radio4">
        <!--radio button end-->
        <!--slide image start-->
        <div class="slide first">
          <img src="images/slideimg01.jpg" alt="">
        </div>
        <div class="slide">
          <img src="images/slideimg02.jpg" alt="">
        </div>
        <div class="slide">
          <img src="images/slideimg03.jpg" alt="">
        </div>
        <div class="slide">
          <img src="images/slideimg04.jpg" alt="">
        </div>
        <!--slide image end-->
        <!--automatic navigation start-->
        <div class="navigation-auto">
          <div class="auto-btn1"></div>
          <div class="auto-btn2"></div>
          <div class="auto-btn3"></div>
          <div class="auto-btn4"></div>
        </div>
        <!--automatic navigation end-->
      </div>
      <!--manual navigation start-->
      <div class="navigation-manual">
        <label for="radio1" class="manual-btn"></label>
        <label for="radio2" class="manual-btn"></label>
        <label for="radio3" class="manual-btn"></label>
        <label for="radio4" class="manual-btn"></label>
      </div>
      <!--manual navigation end-->
    </div>
    <!-- book section starts  -->

    <section class="book" id="book">
      <div class="row">
        <form method="get" th:action="@{board/list}" th:object="${listSearch}" name="searchFrm">
          <div class="inputBox">
            <select th:name="region" class="minimal">
              <option value="">여행지</option>
              <option th:value="Korea">국내</option>
              <option th:value="Japan">일본</option>
              <option th:value="China">중국</option>
              <option th:value="Southeast_Asia">동남아</option>
              <option th:value="Europe">유럽</option>
            </select>
            <select th:name="season" class="minimal">
              <option value="">계절</option>
              <option th:value="Spring">봄</option>
              <option th:value="Summer">여름</option>
              <option th:value="Autumn">가을</option>
              <option th:value="Winter">겨울</option>
            </select>
            <select th:name="theme" class="minimal">
              <option value="">테마</option>
              <option th:value="Family">가족</option>
              <option th:value="Friend">친구</option>
              <option th:value="Couple">커플</option>
              <option th:value="Filial">효도</option>
            </select>
            <button type="submit" class="img_btn" id="img_btn"><a th:href="@{/board/list}"><i class="fas fa-search"></i></a></button>
          </div>
        </form>
      </div>
    </section>

    <!-- book section ends -->


    <!--  &lt;!&ndash; sms icon starts &ndash;&gt;
      <div class="sms">
        <ul>
          <li><a th:href="@{/board/list}"><i class="fas fa-sms"></i></a></li>
          <li><a th:href="@{/board/list}"><i class="fab fa-google"></i></a></li>
        </ul>
      </div>-->

    <!-- sms icon ends -->

    <!-- packages section starts  -->

    <!-- 간격 조정 starts -->

    <ul class="navbar_interval">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>


    <ul class="navbar_interval">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>


    <ul class="navbar_interval">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
    <!-- 간격 조정 ends -->

    <section class="packages" id="package">
      <h1 class="heading">
        <span><i class="fas fa-plane-departure">너나들이와 지금 떠나요</i></span>
      </h1>

      <ul class="navbar_interval">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
      <div class="box-container">
        <div class="box">
          <a th:href="@{/board/list}"><img src="images/p1.jpg"></a>
          <div class="content">
            <h3>
              <a th:href="@{/board/list}">제주도 한라산</a>
            </h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Veritatis, nam!</p>
          </div>
        </div>

        <div class="box">
          <a th:href="@{/board/list}"><img src="images/p2.jpg" ></a>
          <div class="content">
            <h3>
              <a th:href="@{/board/list}">태국 여행</a>
            </h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Veritatis, nam!</p>
          </div>
        </div>

        <div class="box">
          <a th:href="@{/board/list}"><img src="images/p3.jpg" alt=""></a>
          <div class="content">
            <h3>
              <a th:href="@{/board/list}">부산 여행</a>
            </h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Veritatis, nam!</p>
          </div>
        </div>

        <div class="box">
          <a th:href="@{/board/list}"><img src="images/p4.jpg" alt=""></a>
          <div class="content">
            <h3>
              <a th:href="@{/board/list}">베트남 다낭으로 떠나요</a>
            </h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Veritatis, nam!</p>
          </div>
        </div>

        <div class="box">
          <a th:href="@{/board/list}"><img src="images/p5.jpg" alt=""></a>
          <div class="content">
            <h3>
              <a th:href="@{/board/list}">뉴요커는 꿈이 아니에요 단 7일뿐</a>
            </h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Veritatis, nam!</p>
          </div>
        </div>

        <div class="box">
          <a th:href="@{/board/list}"><img src="images/p6.jpg" alt=""></a>
          <div class="content">
            <h3>
              <a th:href="@{/board/list}">(Seoul)@BTS @PSY @SON</a>
            </h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Veritatis, nam!</p>
          </div>
        </div>

      </div>

    </section>

    <!-- packages section ends -->

    <!-- 간격 조정 starts -->

    <ul class="navbar_interval">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>

    <ul class="navbar_interval">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>

    <ul class="navbar_interval">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
    <!-- 간격 조정 ends -->


    <!-- special section starts -->
    <h1 class="heading">
      <span><i class="fas fa-calendar-check">특별한 날을 만드는 건 어때요?</i></span>
    </h1>
    <section class="packages" id="packages">
      <div class="box-container">

        <div class="box">
          <a th:href="@{/board/list}"><img src="images/e1.jpg" alt=""></a>
          <div class="content">
            <h3>
              <a th:href="@{/board/list}">북한산 오전 투어(6:00~15:00)</a>
            </h3>
            <p>일출만 보고 와요</p>
          </div>
        </div>
        <div class="box">
          <a th:href="@{/board/list}"><img src="images/e2.jpg" alt=""></a>
          <div class="content">
            <h3>
              <a th:href="@{/board/list}">(서울) 특별한 날 연인과 호캉스</a>
            </h3>
            <p>뉴욕</p>
          </div>
        </div>
        <div class="box">
          <a th:href="@{/board/list}"><img src="images/e3.jpg" alt=""></a>
          <div class="content">
            <h3>
              <a th:href="@{/board/list}">(강원도) 옥수수 한 사발 하실례예?</a>
            </h3>
            <p>서울</p>
          </div>
        </div>

      </div>
    </section>

    <!-- special section ends -->

    <!-- 간격 조정 starts -->

    <ul class="navbar_interval">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>

    <ul class="navbar_interval">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>

    <ul class="navbar_interval">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
    <!-- 간격 조정 ends -->

    <!-- gallery section starts  -->

    <section class="gallery" id="gallery">

      <h1 class="heading">
        <span><i class="fas fa-hand-peace">베스트 리뷰 및 이벤트</i></span>
      </h1>

      <ul class="navbar_interval">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>

      <div class="box-container">
        <div class="box1">
          <img class="gallery_img" src="images/gallery_img.jpg" alt="">
          <div class="content">
            <h3>정한나 회원님</h3>
            <p>베스트 리뷰 : 우정 여행 패키지</p>
            <button class="bestIcon"  type="button"
                    th:onclick="'location.href=\''+ @{/bestReview/list} + '\''" disabled value="">Best Review</button>
            <button class="bestBtn" type="button"
                    th:onclick="'location.href=\''+ @{/bestReview/list} + '\''">더보기</button>
          </div>
        </div>

        <div class="box2">

          <div class="slidebox1">
            <input type="radio" name="slide1" id="slide01" checked>
            <input type="radio" name="slide1" id="slide02">
            <input type="radio" name="slide1" id="slide03">
            <ul class="slidelist1">
              <li class="slideitem1">
                <a>
                  <label for="slide03" class="prev"></label>
                  <img src="./images/slide01.jpg"/>
                  <!-- Button trigger modal -->
                  <button type="button" class="button" data-bs-toggle="modal" data-bs-target="#exampleModal" style="width:200px; font-size: 1.1rem;" >
                    ✨ 자세한 내용보기 ✨
                  </button>
                  <label for="slide02" class="next"></label>
                </a>
              </li>
              <li class="slideitem1">
                <a>
                  <label for="slide01" class="prev"></label>
                  <img src="./images/slide02.jpg">
                  <!-- Button trigger modal -->
                  <button type="button" class="button" data-bs-toggle="modal" data-bs-target="#exampleModal" style="width:200px; font-size: 1.1rem;" >
                    ✨ 자세한 내용보기 ✨
                  </button>
                  <label for="slide03" class="next"></label>
                </a>
              </li>
              <li class="slideitem1">
                <a>
                  <label for="slide02" class="prev"></label>
                  <img src="./images/slide03.jpg">
                  <!-- Button trigger modal -->
                  <button type="button" class="button" data-bs-toggle="modal" data-bs-target="#exampleModal" style="width:200px; font-size: 1.1rem;" >
                    ✨ 자세한 내용보기 ✨
                  </button>
                  <label for="slide04" class="next"></label>
                </a>
              </li>
              <li class="slideitem1">
                <a>
                  <label for="slide03" class="prev"></label>
                  <img src="./images/slide04.jpg">
                  <!-- Button trigger modal -->
                  <button type="button" class="button" data-bs-toggle="modal" data-bs-target="#exampleModal" style="width:200px; font-size: 1.1rem;" >
                    ✨ 자세한 내용보기 ✨
                  </button>
                  <label for="slide01" class="next"></label>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <!-- gallery section ends -->
  </div>


  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">이벤트 제목</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <h1>이벤트 내용</h1>
        </div>
        <div class="modal-footer">
          <button type="button" class="button" data-bs-dismiss="modal">닫기</button>
          <!--<button type="button" class="btn btn-primary">Save changes</button>-->
        </div>
      </div>
    </div>
  </div>
  </body>
</th:block>
</html>